Repository tokiwa-software/fuzion, pull requests merged in 2025-03, with the labels that each got.

#4848 fuir: add convenience method, fuir clazzNativeName
  src/dev/flang/be/c/C.java
  src/dev/flang/be/interpreter/Executor.java
  src/dev/flang/be/jvm/JVM.java
  src/dev/flang/fuir/FUIR.java
Labels: enhancement, dfa/monomorphization

#4850 fe: add check for argument and result types of native features
  src/dev/flang/ast/AstErrors.java
  src/dev/flang/ast/Feature.java
  src/dev/flang/ast/Types.java
  tests/native_legal_types_negative/Makefile
  tests/native_legal_types_negative/native_legal_types_negative.fz
  tests/native_legal_types_negative/native_legal_types_negative.fz.expected_err
  tests/native_legal_types_negative/native_legal_types_negative.fz.expected_out
Labels: enhancement, front end

#4846 dfa: simplify `genericResult`
  src/dev/flang/fuir/analysis/dfa/Call.java
Labels: dfa/monomorphization, cleanup

#4851 lib/be: add `Mutex ref`, `Condition ref`
  modules/base/src/concur/sync.fz
  modules/base/src/internal.fz
  src/dev/flang/be/c/Intrinsics.java
  src/dev/flang/be/interpreter/JavaInterface.java
  src/dev/flang/be/interpreter/Value.java
  src/dev/flang/be/jvm/Intrinsix.java
  src/dev/flang/be/jvm/Types.java
  src/dev/flang/fuir/GeneratingFUIR.java
  src/dev/flang/fuir/SpecialClazzes.java
  src/dev/flang/fuir/analysis/dfa/DFA.java
Labels: base library, dfa/monomorphization, backend, cleanup

#4863 lib: int, cleanup NYI and implement `fits_in_u8`
  modules/base/src/int.fz
Labels: base library, cleanup

#4864 tests: remove `redef abstract` with NYI comment
  tests/reg_issue293_confusion_of_type_and_value_params/issue293.fz
Labels: C backend, tests, cleanup

#4852 lib/be: add `file descriptor ref`
  modules/base/src/fuzion/sys/fileio.fz
  modules/base/src/internal.fz
  modules/base/src/io/file/open.fz
  modules/base/src/io/file/seek.fz
  modules/base/src/io/file/use.fz
  modules/base/src/native.fz
  src/dev/flang/ast/Feature.java
  src/dev/flang/be/interpreter/Executor.java
  src/dev/flang/be/interpreter/JavaInterface.java
  src/dev/flang/be/jvm/Intrinsix.java
  src/dev/flang/be/jvm/JVM.java
  src/dev/flang/be/jvm/Types.java
  src/dev/flang/fuir/GeneratingFUIR.java
  src/dev/flang/fuir/SpecialClazzes.java
Labels: base library, dfa/monomorphization, backend, cleanup

#4865 lib: remove redundant `numeric.type.equality`, `numeric.type.lteq`
  modules/base/src/numeric.fz
Labels: base library, cleanup

#4853 lib/be: add `directory descriptor ref`
  modules/base/src/fuzion/sys/fileio.fz
  modules/base/src/internal.fz
  modules/base/src/io/dir/open.fz
  modules/base/src/io/dir/read.fz
  modules/base/src/io/dir/use.fz
  modules/base/src/native.fz
  src/dev/flang/ast/Feature.java
  src/dev/flang/be/interpreter/Executor.java
  src/dev/flang/be/interpreter/JavaInterface.java
  src/dev/flang/be/jvm/Intrinsix.java
  src/dev/flang/be/jvm/JVM.java
  src/dev/flang/be/jvm/Types.java
  src/dev/flang/fuir/GeneratingFUIR.java
  src/dev/flang/fuir/SpecialClazzes.java
Labels: base library, backend, cleanup

#4858 lib/be: add `java ref ref`
  modules/base/src/fuzion/java.fz
  modules/base/src/internal.fz
  src/dev/flang/ast/Types.java
  src/dev/flang/be/interpreter/JavaInterface.java
  src/dev/flang/be/jvm/Intrinsix.java
  src/dev/flang/be/jvm/Types.java
  src/dev/flang/fuir/FUIR.java
  src/dev/flang/fuir/GeneratingFUIR.java
  src/dev/flang/fuir/SpecialClazzes.java
  src/dev/flang/tools/fzjava/FZJava.java
Labels: base library, dfa/monomorphization, backend, cleanup

#4868 ai: simplify `assignStatic` remove arg `rt`
  src/dev/flang/be/c/C.java
  src/dev/flang/be/interpreter/Executor.java
  src/dev/flang/be/jvm/CodeGen.java
  src/dev/flang/fuir/analysis/AbstractInterpreter.java
  src/dev/flang/fuir/analysis/AbstractInterpreter2.java.patch
  src/dev/flang/fuir/analysis/dfa/DFA.java
Labels: dfa/monomorphization, cleanup

#4870 naming: align names in fz.h
  include/fz.h
  include/posix.c
  include/win.c
  modules/base/src/fuzion/sys/net.fz
  modules/base/src/io/dir/open.fz
  modules/base/src/io/dir/read.fz
  modules/base/src/native.fz
Labels: cleanup

#4871 tests: add #2489
  tests/reg_issue2489/Makefile
  tests/reg_issue2489/reg_issue2489.fz
  tests/reg_issue2489/reg_issue2489.fz.expected_err
  tests/reg_issue2489/reg_issue2489.fz.expected_out
Labels: tests

#4872 time/date_time: use month and day arguments instead of day in year
  include/shared.c
  modules/base/src/time/date_time.fz
  modules/base/src/time/now.fz
  tests/lib_time_date_time/lib_time_date_time.fz
Labels: enhancement, base library

#4860 lib/be: add `Native_Ref ref`
  modules/base/src/ffi.fz
  modules/base/src/internal.fz
  modules/base/src/native.fz
  src/dev/flang/ast/Feature.java
Labels: base library, dfa/monomorphization, backend, cleanup

#4861 lib/be: replace `fuzion.sys.Pointer` by `Array ref`
  modules/base/src/fuzion/java.fz
  modules/base/src/fuzion/sys.fz
  modules/base/src/fuzion/sys/Pointer.fz
  modules/base/src/fuzion/sys/env_vars.fz
  modules/base/src/fuzion/sys/internal_array.fz
  modules/base/src/internal.fz
  modules/base/src/io/file/stat.fz
  modules/base/src/native.fz
  modules/base/src/os/processes.fz
  src/dev/flang/be/c/C.java
  src/dev/flang/be/interpreter/ChoiceIdAsRef.java
  src/dev/flang/be/interpreter/Executor.java
  src/dev/flang/be/interpreter/Interpreter.java
  src/dev/flang/be/interpreter/JavaInterface.java
  src/dev/flang/be/jvm/Intrinsix.java
  src/dev/flang/be/jvm/JVM.java
  src/dev/flang/be/jvm/Types.java
  src/dev/flang/fuir/GeneratingFUIR.java
  src/dev/flang/fuir/SpecialClazzes.java
Labels: base library, dfa/monomorphization, backend, cleanup

#4874 lib: decrease visibility of `file descriptor`
  modules/base/src/internal.fz
  modules/base/src/io/file/open.fz
  modules/base/src/io/file/seek.fz
  tests/lib_io_file/fileiotests.fz
  tests/lib_io_file/fileiotests.fz.effect
  tests/lib_io_utf8/lib_io_utf8.fz
Labels: base library, cleanup

#4876 dfa: `genericResult` return null if result is void
  src/dev/flang/be/interpreter/Executor.java
  src/dev/flang/fuir/analysis/dfa/Call.java
Labels: bug, dfa/monomorphization

#4877 fuir: add `Native_Ref` to SpecialClazzes
  src/dev/flang/be/interpreter/Executor.java
  src/dev/flang/be/jvm/Intrinsix.java
  src/dev/flang/be/jvm/JVM.java
  src/dev/flang/be/jvm/Names.java
  src/dev/flang/be/jvm/Types.java
  src/dev/flang/fuir/GeneratingFUIR.java
  src/dev/flang/fuir/SpecialClazzes.java
Labels: dfa/monomorphization, backend, cleanup

#4878 dfa: native, dummy call function args
  src/dev/flang/fuir/analysis/dfa/Call.java
Labels: enhancement, dfa/monomorphization

#4879 time/date_time: move features used only by contract inside contract
  modules/base/src/time/date_time.fz
Labels: base library, cleanup

#4882 devcontainer: preinstall clang
  .devcontainer/devcontainer.json
Labels: enhancement, build infrastructure

#4889 fe: fix logic in `isExtensionFeature`
  src/dev/flang/ast/Feature.java
Labels: bug, front end

#4890 fe: fix type inference for inheritance call
  modules/base/src/container/sorted_array.fz
  src/dev/flang/ast/AbstractType.java
Labels: bug, front end

#4873 lib: add `mutable_hash_map`
  modules/base/src/container/Mutable_Hash_Map.fz
  modules/base/src/container/Mutable_Map.fz
  tests/mutable_hash_map/mutable_hash_map_test.fz
  tests/mutable_hash_map/mutable_hash_map_test.fz.expected_err
  tests/mutable_hash_map/mutable_hash_map_test.fz.expected_out
Labels: enhancement, base library

#4891 fe: fix issue with type inference of inheritance call
  modules/base/src/Sequence.fz
  modules/base/src/array2.fz
  modules/base/src/array3.fz
  modules/base/src/fuzion/runtime/contract_fault.fz
  modules/base/src/fuzion/runtime/fault.fz
  modules/base/src/fuzion/runtime/post_fault.fz
  src/dev/flang/ast/Resolution.java
  src/dev/flang/ast/SrcModule.java
  src/dev/flang/fe/SourceModule.java
Labels: bug, front end

#4895 include: fix result types fzE_file_read/write
  include/fz.h
  include/shared.c
Labels: cleanup

#4900 cleanup: fix typos and improve formatting
  bin/aspell.dict
  modules/base/src/Sequence.fz
  modules/base/src/container/expanding_array.fz
  modules/base/src/effect.fz
  src/dev/flang/ast/AstErrors.java
  src/dev/flang/ast/Feature.java
  src/dev/flang/ast/Loop.java
  src/dev/flang/ast/ParsedCall.java
  src/dev/flang/fe/SourceModule.java
  src/dev/flang/parser/Lexer.java
  src/dev/flang/parser/Parser.java
  src/dev/flang/tools/docs/Html.java
Labels: cleanup

#4896 be/jvm: minor cleanup in Types.createClassFile
  src/dev/flang/be/jvm/Types.java
Labels: cleanup, jvm backend

#4899 be/interpreter, cleanup: replace if-else by switch
  src/dev/flang/be/interpreter/JavaInterface.java
Labels: interpreter backend, cleanup

#4901 cleanup: use NO_SITE/NO_CLAZZ instead of -1
  src/dev/flang/fuir/Clazz.java
  src/dev/flang/fuir/FUIR.java
  src/dev/flang/fuir/GeneratingFUIR.java
  src/dev/flang/fuir/LibraryFuir.java
  src/dev/flang/fuir/analysis/TailCall.java
  src/dev/flang/fuir/analysis/dfa/Call.java
  src/dev/flang/fuir/analysis/dfa/DFA.java
  src/dev/flang/fuir/analysis/dfa/EmbeddedValue.java
  src/dev/flang/fuir/analysis/dfa/Value.java
Labels: dfa/monomorphization, cleanup

#4894 fix #4531
  bin/add_simple_test.fz
  include/posix.c
  include/shared.c
  include/win.c
  modules/base/src/fuzion_runtime_init.fz
  modules/base/src/native.fz
  src/dev/flang/ast/Impl.java
  src/dev/flang/be/c/C.java
  src/dev/flang/fe/SourceModule.java
Labels: bug, base library

#4902 cleanup: use NO_SELECT instead of -1
  src/dev/flang/ast/AbstractType.java
  src/dev/flang/ast/Call.java
  src/dev/flang/ast/Destructure.java
  src/dev/flang/ast/DotType.java
  src/dev/flang/ast/InlineArray.java
  src/dev/flang/ast/ParsedCall.java
  src/dev/flang/ast/Select.java
  src/dev/flang/fe/LibraryCall.java
  src/dev/flang/fuir/Clazz.java
  src/dev/flang/fuir/GeneratingFUIR.java
  src/dev/flang/util/FuzionConstants.java
Labels: cleanup

#4903 fe: fix merge incogruence
  src/dev/flang/fe/SourceModule.java
Labels: bug

#4907 cleanup: replace nested `match`es in `nom` with `.bind`
  modules/nom/src/nom.fz
  modules/nom/src/nom/multi.fz
  modules/nom/src/nom/sequence.fz
Labels: cleanup

#4906 fuzion.java: merge intrinsics 'primitive'_to_java_object
  modules/base/src/fuzion/java.fz
  src/dev/flang/be/c/C.java
  src/dev/flang/be/c/Intrinsics.java
  src/dev/flang/be/interpreter/Intrinsics.java
  src/dev/flang/be/jvm/Intrinsix.java
  src/dev/flang/fuir/FUIR.java
  src/dev/flang/fuir/analysis/dfa/DFA.java
  src/dev/flang/fuir/cfg/CFG.java
Labels: dfa/monomorphization, backend, cleanup

#4892 lib: add precondition for effect.type.replace
  modules/base/src/effect.fz
  src/dev/flang/be/jvm/Intrinsix.java
  src/dev/flang/be/jvm/runtime/FuzionThread.java
  src/dev/flang/be/jvm/runtime/Runtime.java
Labels: enhancement, base library

#4908 dfa: simplify code for creating generic Java_Object/primitive result.
  src/dev/flang/fuir/analysis/dfa/DFA.java
Labels: dfa/monomorphization, cleanup

#4910 dfa: cleanup creation of outcome results
  src/dev/flang/fuir/analysis/dfa/DFA.java
Labels: dfa/monomorphization, cleanup

#4913 tests: fix typo and improve output of baseXX encoding tests
  tests/base16/base16_test.fz
  tests/base16/base16_test.fz.expected_out
  tests/base32/base32_test.fz
  tests/base32/base32_test.fz.expected_out
  tests/base32hex/base32hex_test.fz
  tests/base32hex/base32hex_test.fz.expected_out
  tests/base64/base64_test.fz
  tests/base64/base64_test.fz.expected_out
  tests/base64url/base64url_test.fz
  tests/base64url/base64url_test.fz.expected_out
Labels: cleanup

#4914 lib: change `as_string` of Linked_List
  modules/base/src/container/Linked_List.fz
  modules/base/src/container/Mutable_Linked_List.fz
  tests/mutable_linked_list/test_mutable_linked_list.fz
  tests/mutable_linked_list/test_mutable_linked_list.fz.expected_out
Labels: base library, cleanup

#4917 ast: rename `Expr.box` => `Expr.boxAndTag` and update comments
  src/dev/flang/ast/AbstractAssign.java
  src/dev/flang/ast/Block.java
  src/dev/flang/ast/Call.java
  src/dev/flang/ast/Expr.java
  src/dev/flang/ast/Feature.java
  src/dev/flang/ast/InlineArray.java
Labels: front end, cleanup

#4243 fuir: isTailCall return true if site always results in void
  src/dev/flang/fuir/analysis/TailCall.java
Labels: enhancement, dfa/monomorphization

#4919 ast: `Match.typeForInferencing` return `null` on error
  src/dev/flang/ast/AbstractMatch.java
  src/dev/flang/ast/Block.java
  tests/visibility_negative/visibility_negative.fz.expected_err
Labels: enhancement, front end

#4922 fe: reduce (mutable) global state
  src/dev/flang/ast/Expr.java
  src/dev/flang/ast/FeatureAndOuter.java
  src/dev/flang/ast/Types.java
  src/dev/flang/be/c/Intrinsics.java
  src/dev/flang/fe/FrontEnd.java
Labels: front end, cleanup

#4921 ast: resolveSyntacticSugar2, performance enhancements
  src/dev/flang/ast/InlineArray.java
  src/dev/flang/ast/Types.java
Labels: front end, performance issue

#4924 container/expanding_array: fix wrong word in comment
  modules/base/src/container/expanding_array.fz
Labels: documentation, base library, cleanup

#4929 fe: cleanup `addRuntimeInitCall`
  src/dev/flang/ast/Impl.java
  src/dev/flang/fe/SourceModule.java
Labels: front end, cleanup

#4928 lib/base: replace `this.type` by just `this`
  modules/base/src/effect.fz
  modules/base/src/float.fz
  modules/base/src/memoize.fz
  modules/base/src/mutate.fz
  modules/base/src/try.fz
Labels: base library, cleanup

#4926 native: add upcalls
  .github/workflows/apple.yml
  .github/workflows/apple_c.yml
  .github/workflows/apple_int.yml
  .github/workflows/apple_jvm.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
  modules/base/src/ffi.fz
  src/dev/flang/ast/Feature.java
  src/dev/flang/be/c/C.java
  src/dev/flang/be/c/CIdent.java
  src/dev/flang/be/c/Intrinsics.java
  src/dev/flang/be/interpreter/Intrinsics.java
  src/dev/flang/be/jvm/CodeGen.java
  src/dev/flang/be/jvm/Intrinsix.java
  src/dev/flang/be/jvm/JVM.java
  src/dev/flang/be/jvm/JVMOptions.java
  src/dev/flang/be/jvm/classfile/Expr.java
  src/dev/flang/be/jvm/runtime/Runtime.java
  src/dev/flang/fuir/analysis/dfa/Call.java
  src/dev/flang/fuir/analysis/dfa/DFA.java
  src/dev/flang/fuir/cfg/CFG.java
  src/dev/flang/tools/Fuzion.java
  tests/check_simple_example_c.sh
  tests/check_simple_example_jvm.sh
  tests/mod_sqlite/Makefile
  tests/mod_sqlite/mod_sqlite.fz
  tests/mod_sqlite/mod_sqlite.fz.expected_err
  tests/mod_sqlite/mod_sqlite.fz.expected_out
  tests/mod_sqlite/skip_int
  tests/record_simple_example_c.sh
  tests/record_simple_example_jvm.sh
  tests/simple.mk
Labels: enhancement, dfa/monomorphization, backend

#4931 ast: suppress type inference of lambda error
  src/dev/flang/ast/Call.java
  src/dev/flang/ast/Function.java
  tests/free_types_negative/test_free_types_negative.fz.expected_err
  tests/partial_application_negative/partial_application_negative.fz.expected_err
  tests/reg_issue4549/reg_issue4549.fz.expected_err
  tests/reg_issue4645/Makefile
  tests/reg_issue4645/reg_issue4645.fz
  tests/reg_issue4645/reg_issue4645.fz.expected_err
  tests/reg_issue4645/reg_issue4645.fz.expected_out
  tests/visibility_scoping/visibility_scoping.fz.expected_err
Labels: enhancement, front end

#4740 fuir: enable precondition `!dependsOnGenerics`
  src/dev/flang/ast/AbstractType.java
  src/dev/flang/fuir/Clazz.java
Labels: dfa/monomorphization, cleanup

#4939 time/calendar_duration: implement `as_string`
  modules/base/src/time/calendar_duration.fz
Labels: enhancement, base library

#4940 ast: change `resultType` to never return`t_UNDEFINED`
  src/dev/flang/ast/AbstractFeature.java
  src/dev/flang/ast/Feature.java
Labels: front end, cleanup

#4941 ast: typeFromInitialValues, return t_ERROR if urgent and no actual ca…
  src/dev/flang/ast/Impl.java
Labels: front end, cleanup

#4944 ast: inferredType pass `urgent` to typeFromInitialValues
  src/dev/flang/ast/Expr.java
  src/dev/flang/ast/Impl.java
  tests/tuple_negative/tuple_negative.fz.expected_err
  tests/typeinference_for_formal_args_negative/typeinference_for_args_negative.fz.expected_err
Labels: front end, cleanup

#4945 ast: call, resolveFormalArg, use resultType with urgent=true
  src/dev/flang/ast/Call.java
Labels: front end, cleanup

#4950 ast: Case, reduce visibilities of some fields
  src/dev/flang/ast/AbstractFeature.java
  src/dev/flang/ast/AstErrors.java
  src/dev/flang/ast/Case.java
Labels: front end, cleanup

#4934 fe: allow `fixed` implementation alongside `abstract` feature
  src/dev/flang/ast/Feature.java
  src/dev/flang/ast/FeatureAndOuter.java
  src/dev/flang/fe/SourceModule.java
  tests/fixed_alongside_abstract/Makefile
  tests/fixed_alongside_abstract/fixed_alongside_abstract.fz
  tests/fixed_alongside_abstract/fixed_alongside_abstract.fz.expected_err
  tests/fixed_alongside_abstract/fixed_alongside_abstract.fz.expected_out
  tests/fixed_alongside_abstract_negative/Makefile
  tests/fixed_alongside_abstract_negative/fixed_alongside_abstract_negative.fz
  tests/fixed_alongside_abstract_negative/fixed_alongside_abstract_negative.fz.expected_err
  tests/fixed_alongside_abstract_negative/fixed_alongside_abstract_negative.fz.expected_out
Labels: enhancement, front end

#4956 parser: require `is` for anonymous feature declaration
  modules/base/src/Sequence.fz
  modules/base/src/String.fz
  modules/base/src/bitset.fz
  modules/base/src/bool.fz
  modules/base/src/container/Set.fz
  modules/base/src/envir/vars.fz
  modules/base/src/exit.fz
  modules/base/src/ffi.fz
  modules/base/src/io/buffered/reader.fz
  modules/base/src/io/dir/make.fz
  modules/base/src/io/dir/read.fz
  modules/base/src/io/file/open.fz
  modules/base/src/list.fz
  modules/base/src/memoize.fz
  modules/base/src/numeric.fz
  modules/base/src/time/nano.fz
  modules/base/src/unique_id.fz
  modules/base/src/unit.fz
  modules/lock_free/src/lock_free/Map.fz
  modules/lock_free/src/lock_free/set_of_hashable.fz
  modules/nom/src/nom.fz
  src/dev/flang/parser/Parser.java
  tests/buffered_writer/ex_buffered_writer.fz
  tests/catch_postcondition/catch_postcondition.fz
  tests/catch_postcondition/catch_postcondition.fz.expected_err_int
  tests/functions/functions.fz
  tests/lazy/ex_lazy.fz
  tests/process/test_process.fz
  tests/process_utf8/process_utf8.fz
  tests/reg_issue1294/issue1294.fz
  tests/reg_issue1559_post_condition/test_issue1559.fz
  tests/reg_issue1561_incompatible_types/test_issue1561.fz
  tests/reg_issue1628/reg_issue1628.fz
  tests/reg_issue1777/reg_issue1777.fz
  tests/reg_issue2249/issue2249.fz
  tests/reg_issue263_anoynmous_inner_feature_as_arg/issue263.fz
  tests/reg_issue292_inherited_open_generics/ex292.fz
  tests/reg_issue293_confusion_of_type_and_value_params/issue293.fz
  tests/reg_issue373/reg_issue373.fz
  tests/reg_issue698_np_excep_in_choice_with_call_to_outer_ref/issue698.fz
  tests/reg_issue698_np_excep_in_choice_with_call_to_outer_ref/issue698.fz.expected_err
  tests/reg_issue776/reg_issue776.fz
  tests/reg_issue776/reg_issue776.fz.expected_err
  tests/visibility_scoping/visibility_scoping.fz
Labels: enhancement, Fuzion language, parser

#4958 ast: fix NPE in Select.toString
  src/dev/flang/ast/Select.java
Labels: bug, front end

#4954 build: show reason if test was cancelled because of timeout or stack limit
  tests/check_simple_example_c.sh
  tests/check_simple_example_int.sh
  tests/check_simple_example_jvm.sh
Labels: enhancement, build infrastructure, tests

#4968 fe: fix class cast exception
  src/dev/flang/fe/SourceModule.java
  tests/reg_issue4961/Makefile
  tests/reg_issue4961/reg_issue4961.fz
  tests/reg_issue4961/reg_issue4961.fz.expected_err
  tests/reg_issue4961/reg_issue4961.fz.expected_out
Labels: bug, front end

#4957 fe: add special type t_FORWARD_CYCLIC to distinguish from t_ERROR/t_U…
  src/dev/flang/ast/Call.java
  src/dev/flang/ast/Expr.java
  src/dev/flang/ast/Feature.java
  src/dev/flang/ast/FunctionReturnType.java
  src/dev/flang/ast/Impl.java
  src/dev/flang/ast/ParsedCall.java
  src/dev/flang/ast/Types.java
  tests/free_types_negative/test_free_types_negative.fz.expected_err
  tests/reg_issue3036/reg_issue3036.fz.expected_err
  tests/reg_issue4251/reg_issue4251.fz.expected_err
  tests/reg_issue4518/reg_issue4518.fz.expected_err
  tests/reg_issue4694/reg_issue4694.fz.expected_err
  tests/reg_issue4935/Makefile
  tests/reg_issue4935/reg_issue4935.fz
  tests/reg_issue4935/reg_issue4935.fz.expected_err
  tests/reg_issue4935/reg_issue4935.fz.expected_out
Labels: front end, cleanup

#4966 fe: Expr.type never `t_UNDEFINED`
  src/dev/flang/ast/AbstractBlock.java
  src/dev/flang/ast/AbstractMatch.java
  src/dev/flang/ast/Call.java
  src/dev/flang/ast/Expr.java
  src/dev/flang/ast/Feature.java
  src/dev/flang/ast/Function.java
  src/dev/flang/ast/If.java
Labels: front end, cleanup

#4969 fe: allow setting feature name for features with arguments
  src/dev/flang/ast/Feature.java
  src/dev/flang/fe/SourceModule.java
  tests/reg_issue4963/Makefile
  tests/reg_issue4963/reg_issue4963.fz
  tests/reg_issue4963/reg_issue4963.fz.expected_err
  tests/reg_issue4963/reg_issue4963.fz.expected_out
Labels: bug, front end

#4971 ast: ResolvedNormalTypes add post conditions to constructor
  src/dev/flang/ast/ResolvedNormalType.java
Labels: front end

#4977 win: fix error: 'poll.h' file not found
  include/win.c
Labels: bug, windows

#4979 parser: remove fullstop
  modules/base/src/String.fz
  modules/base/src/time/calendar_duration.fz
  src/dev/flang/parser/Parser.java
  tests/atomic/test_atomic.fz
  tests/catch_postcondition/catch_postcondition.fz
  tests/effect_installed/test_effect.fz
  tests/effect_installed_negative/test_effect_neg.fz
  tests/equals/test_equals.fz
  tests/reg_issue1604_cmp_swap_choice/test_issue1604.fz
  tests/reg_issue1610_outer_escapes/test_issue1610.fz
  tests/reg_issue1943_type_parameter_as_outer_type/issue1943.fz
  tests/reg_issue2111/reg_issue2111.fz
  tests/reg_issue2273/reg_issue2273.fz
  tests/reg_issue2380/reg_issue2380.fz
  tests/reg_issue2381/reg_issue2381.fz
  tests/reg_issue874ff/issue874.fz
  tests/select_clause_negative/select_clause_negative.fz.expected_err
  tests/ternary/test_ternary.fz
Labels: enhancement, parser

#4984 cleanup: remove unused parameter in inferFormalArgTypesFromActualArgs
  src/dev/flang/ast/Call.java
Labels: cleanup
