Repository tokiwa-software/fuzion, pull requests merged in 2025-10, with the labels that each got.

#6028 doc: fix header levels in reference manuals
  doc/ref_manual/fuzion_reference_manual.adoc
Labels: documentation, enhancement

#6035 ast: Accept `_` as a type place holder only if no targets and no arguments given
  src/dev/flang/ast/ParsedCall.java
  tests/reg_issue6024/Makefile
  tests/reg_issue6024/reg_issue6024.fz
  tests/reg_issue6024/reg_issue6024.fz.expected_err
  tests/reg_issue6024/reg_issue6024.fz.expected_out
Labels: bug, front end

#6036 base: make `option` `orderable` and `hashable`
  modules/base/src/Sequence/equatable.fz
  modules/base/src/interval.fz
  modules/base/src/io/buffered/reader.fz
  modules/base/src/option.fz
  tests/lib_property_equatable/lib_property_equatable.fz
  tests/lib_property_equatable/lib_property_equatable.fz.expected_out
  tests/strings/stringstest.fz
Labels: enhancement, base library

#6052 be/c: remove ifdef `FUZION_ENABLE_THREADS`
  Makefile
  include/posix.c
  include/win.c
  src/dev/flang/be/c/C.java
Labels: cleanup

#6048 dfa: add option to detect too many iterations
  .github/workflows/apple.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
  Dockerfile
  bin/check_simple_example.fz
  bin/record_simple_example.fz
  bin/run_tests.fz
  src/dev/flang/fuir/analysis/dfa/DFA.java
Labels: enhancement, dfa/monomorphization

#6056 base: change visibility of `handles`, add detailed comment how to clean this up
  modules/base/src/handles.fz
Labels: base library, cleanup
